.header {
  background-color: #1257a0;
  color: white;
  padding: 5px 20px; 
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 40px; 
}

.header h1 {
  margin: 0;
  font-size: 1.2rem; 
}
